<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>imemorize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B4C6D1E1C415BDC0067428D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B4C6D351C415BDD0067428D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B4C6D401C415BDD0067428D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
